#bg {
    width: 100%;
    height: 300px;
    background: url('./background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#bg2 {
    width: 100%;
    height: 450px;
    background: url('./background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}